
.offers{
width: auto;
height: 60vh;
display: flex;
margin: auto;
padding: 0px 140px;
margin-bottom: 150px;
background: linear-gradient(180deg, #fde1ff 0%,#e1ffea22 60%);
}
.offers-left{
flex:1;
display: flex;
flex-direction: column;
justify-content: center;
}
.offers-left h1{
color: black;
font-size: 60px;
font-weight: 600;
font-style: bold;
margin-top: -12px;
font-family: 'Arial', Bold;
}
.offers-left p{
color: grey;
font-size: 22px;
font-weight: 600;
}
.offers-left button{
width: 242px;
height: 60px;
border-radius: 35px;
background: rgba(231, 33, 33, 0.848);
border: none;
color: white;
font-size: 22px;
font-weight: 500;
margin-top: 20px;
cursor: pointer;
}
.offers-right{
flex: 1;
display: flex;
align-items: center;
justify-content: flex-end;
padding-top: 50px;
}
